*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

*::-webkit-scrollbar{
    display: none;
}

:root{
    --lightBlue1: #0466C8;
    --lightBlue2: #0353A4;
    --lightBlue3: #023E7D;
    --darkBlue1: #002855;
    --darkBlue2: #001845;
    --darkBlue3: #001233;
    --gray1: #33415C;
    --gray2: #5C677D;
    --gray3: #7D8597;
    --gray4: #979DAC;
}

/* Landing page decorations */

.navLinks {
    width: 90%;
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    top: 25%;
}

.overlayNav{
    display: block;
    width: 30%;
    height: 8%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(-100%);
    transition: all 1s ease;
}


/* Icon & Links */

.navLinks a{
    padding: .2em .7em;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.5s ease;
}

.navLinks a:hover{
    color: #000;
    background-color: #fff;
} 
.navLinks a:focus{
    color: #000;
    text-decoration: underline;
}

.fa-bars{
    color: #fff;
    border-radius: 3px;
    font-size: 2rem;
    position: absolute;
    top: 2%;
    left: 1%;
    transition: all 1s ease;
    animation: highlightIcon 3s infinite;
}

.fa-bars:hover, 
.fa-bars:focus{
    cursor: pointer;
    color: #c4c4c4;
}

            /* Section 1 / Landing page */

#section-one{
    display: flex;
    text-align: center;
}

    /* Left page */

#section-one .picture{
    width: 100%;
    height: 100vh;
    background-image: url(/img/Backgrounds/left-landing.jpg);
    background-size: cover;
    background-attachment: local;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#logo{
    color: #fff;
    font-size: 5rem;
    width: 50%;
    text-align: center;
    letter-spacing: 20px;
}
#logo p{
    margin-top: -10px;
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: 1rem;
}

    /* Right page */

#section-one .presentation{
    display: none;
    padding: 0 10px;
    width: 70%;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    animation: clarifyPresentation 1s;
}

#section-one .intro{
    width: 100%;
    height: 40vh;
    margin: 1.2em;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.intro .wrap{
    color: var(--darkBlue1);
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#section-one #boxes{
    width: 100%;
    height: 40vh;
    margin: 1.2em;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

    /* Intro, text and image */

.intro h2{
    font-size: 2.5rem;
}

.intro p {
    margin-top: 2rem;
}

.intro img{
    width: 40%;
}

    /* Boxes introducing the activity */


#section-one #presentBox{
    border: 1px solid var(--darkBlue1);
    width: 20%;
    margin: 0 0.75em;
    padding: 0.75 0;
    border-radius: 3%;
    color: var(--darkBlue1);
    transition: all 0.2s ease-in-out;
}

#presentBox:hover,
#presentBox:focus{
    box-shadow: 0px 0px 3px var(--lightBlue3);
}

#presentBox i{
    width: 30%;
    padding: 1.2rem 0;
    border-radius: 50%;
    color: #fff;
    margin: 1.2rem;
    font-size: 2.5rem;
    background-color: var(--darkBlue1);
}

#presentBox h3{
    font-size: 1.5rem;
}

#presentBox p{
    padding: 0.9em;
    font-size: 0.9rem;
}

#presentBox button{
    margin: 1.2rem;
    background-color: var(--darkBlue1);
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: .7em 1.3em;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    border: 2px solid var(--darkBlue1);
}

#presentBox #box-btn:hover, 
#presentBox #box-btn:focus{
    background-color: #fff;
    border: 2px solid var(--darkBlue1);
    color: var(--darkBlue1);
} 

            /* Animations */

    /* Navbar animations*/

@keyframes highlightIcon {
    0%{
        text-shadow: 0px 0px 0px #fff;
    }
    50%{
        text-shadow: 0px 0px 5px #fff;
    }
    0% {
        text-shadow: 0px 0px 0px #fff;
    }
}

    /* Animation for landing page */
@keyframes slideWelcomePage {
    0%{
        width: 100%;
    }
    100%{
        width: 30%;
    }
}

@keyframes clarifyPresentation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
